Flask==2.2.5
Jinja2==3.1.4
MarkupSafe==0.23
Werkzeug==2.3.8
argparse==1.2.1
click==6.6
future==0.18.3
geographiclib==1.46.3
geopy==1.11.0
gpsoauth==0.3.0
itsdangerous==0.24
peewee==2.10.0
protobuf==3.18.3
pycryptodomex==3.4.2
requests==2.31.0
s2sphere==0.2.4
six==1.10.0
wsgiref==0.1.2
xxhash
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
